<div class="form_wrapper">

	<div class="form_close" data-close-popup></div>

	<div class="form_main">
		<div class="form_title">
			<p class="form_title_main">Бесплатно забронировать <br class="mobile_only"/> это место</p>
			<p class="form_title_text">Заполните форму и мы свяжемся с вами в ближайшее время.</p>
		</div>

		<form class="form_block" action="/ajax/form/" data-type={{ type }} data-rest-name data-rest-url>
			<div class="form_inputs">
				<div class="input_wrapper _big">
					<div class="input_label">Как вас зовут</div>
					<input type="text" name="name" data-required/>
				</div>

				<div class="input_wrapper ">
					<div class="input_label">Номер телефона</div>
					<input type="text" name="phone" data-required data-dynamic-placeholder/>
				</div>

				<div class="radio_wrapper">
					<div class="input_wrapper__radio">
						<label >
							<input type="radio" name="type-connect" value="Звонок" checked>
							Звонок
						</label>
					</div>
					<div class="input_wrapper__radio">
						<label>
							<input type="radio" name="type-connect" value="Whatsapp">
							Whatsapp
						</label>
					</div>
					<div class="input_wrapper__radio">
						<label>
							<input type="radio" name="type-connect" value="Viber">
							Viber
						</label>
					</div>
					<div class="input_wrapper__radio">
						<label>
							<input type="radio" name="type-connect" value="Telegram">
							Telegram
						</label>
					</div>
				</div>

				<div class="select_item input_wrapper">
					<div class="input_label">&nbsp;Событие&nbsp;</div>

					<div class="form_select_block" data-type="event_type" data-form-select-block>
						<div class="form_select_current" type="text" name="event_type" data-form-select-current>
							<input class="_hidden" type="text" name="event_type" value="Corporate" data-required readonly>
							<p>🤟Корпоратив</p>
						</div>

						<div class="form_select_list _hidden">
							<div class="form_select_item _active" data-value="Corporate" data-form-select-item data-prazdnik-spec-id="15"><p>🤟Корпоратив</p></div>
							<div class="form_select_item " data-value="Wedding" data-form-select-item data-prazdnik-spec-id="1"><p>💍Свадьба</p></div>
							<div class="form_select_item " data-value="Birthday" data-form-select-item data-prazdnik-spec-id="9"><p>🎂День рождения</p></div>
							<div class="form_select_item " data-value="High school graduation" data-form-select-item data-prazdnik-spec-id="11"><p>🎓Выпускной</p></div>
							<div class="form_select_item " data-value="New year" data-form-select-item data-prazdnik-spec-id="17"><p>⛄Новый год</p></div>
							<div class="form_select_item " data-value="Other" data-form-select-item data-prazdnik-spec-id><p>Другое</p></div>
						</div>
					</div>
				</div>

				<div class="input_wrapper _extra_small">
					<div class="input_label">Число гостей</div>
					{# <input type="number" min="1" name="guests" data-required/> #}
					<input type="text" name="guests" data-required/>
				</div>
			</div>

			<div class="comments_textarea">
				<div class="input_label">Комментарий<span class="not_necessary"> (необязательно)</span></div>
				<textarea name="coment_text" class="comment_form" placeholder="По желанию укажите: дату мероприятия, бюджет или что-то еще"></textarea>
			</div>

			<div class="form_submit">
				<input type="submit" class="_button" value="Отправить"/>

				<div class="form_policy checkbox_item _active" data-form-privacy>
					<input type="checkbox" name="policy" class="personalData" checked="">
					<p class="checkbox_pseudo">
						Я согласен с <span> <a class="_link" href="https://arendazala.net/privacy/" target="_blank"> политикой обработки персональных данных</a></span>
					</p>
				</div>
			</div>

			<input type="hidden" name="_csrf" value="{{Declension.csrfToken()}}" />
			{% if venue_id is defined %}
				<input type="hidden" name="venue_id" value="{{venue_id}}" />
			{% endif %}
		</form>
	</div>

	<div class="form_success" data-success>
		<div class="form_success_title">
			<p class="form_success_title_main">Заявка отправлена</p>
		</div>

		<div class="form_success_text">
			<p class="form_success_text_main"><span data-success-name></span>, спасибо за проявленный интерес. Наши менеджеры свяжутся с вами в течение дня.</p>
		</div>

		<div class="form_success_close _link" data-success-close>Заполнить еще раз</div>
	</div>
</div>