<div class="confetti_left_blog"></div>
<div class="confetti_right_blog"></div>

<div data-page-type="popular">

  <div class="_popular">

    <div class="title popular">

      <h1>{{seo.title}}</h1>

    </div>

  </div>

  <div data-page-type="popular_all">

    <div class="popular_all"> 

      {% for key, popularBlock in popularBlocks %}

        {{ this.render('//popular/block.twig', {'key': key, 'popularBlock': popularBlock.block, 'isMoreSlices': popularBlock.isMoreSlices}) | raw }}

      {% endfor %}

    </div>

  </div>

  <div class="text_bottom" data-seo-text>

    {{seo.text_top | raw}}

  </div>

  <div class="content_block pop_form">
        
    {{ this.render('//components/generic/form.twig', {'type' : 'index'}) | raw }}

  </div>
  
</div>