[data-page-type="blog"]{

	.content_block{
		width: 1135px;
	}

	h1{
		text-align: center;
		padding: 64px 0 60px 0;
	}

	.blog_item_wrapper{
		margin: 0 0 32px 0;
	}

	.blog_item{
		display: flex;
		flex-flow: row nowrap;
	}

	.blog_item_img{
		display: block;
		width: 560px;
		height: 320px;
	}
	
	.blog_item_text_wrapper{
		padding: 0 0 0 32px;

		a{
			color: #4471e6;
			border-bottom: 1px solid rgba(68, 113, 230, 0.8);
			
			&:hover{
				color: #608dff;
				border-bottom: 1px solid #608dff;
			}
		}
	}

	.blog_item_title{
		margin: 0 0 8px 0;
		font-size: 24px;
		line-height: 32px;
	}

	.blog_item_text{
		font-size: 16px;
		line-height: 24px;
	}

	.blog_item_date{
		margin: 8px 0 0 0;
		font-size: 12px;
		line-height: 20px;
		color: #797C88;
	}

	[data-pagination-wrapper]{

		ul.pagination{
			display: flex;
		}

		li{
			list-style: none;
		}

		li span,
		li a{
			display: block;
			margin: 9px 0 0 0;
			text-align: center;

			&:hover{
				color: #FFFFFF;
			}
		}

		.items_pagination_item._active span{
			color: #FFFFFF;
		}

		.items_pagination_item{
			transform: none;
		}
	}

	@include for-notdesc{

		.blog_item_wrapper{
			margin: 0 0 24px 0;
		}
		
		.blog_item_text{
			font-size: 14px;
			line-height: 20px;
		}
	}

	@include for-pad{

		.content_block{
			width: 744px;
		}
		
		h1{
			padding: 32px 0 32px 0;
		}

		.blog_item_img{
			width: 363px;
			height: 207px;
		}	
	
		.blog_item_text_wrapper{
			padding: 0 0 0 24px;	
		}

		.blog_item_title{
			font-size: 20px;
			line-height: 24px;
		}	

		.items_pagination{
			margin: 68px 0 68px 0;
		}
	}

	@include for-mobile{
		
		.content_block{
			width: calc(100% - 32px);
		}

		h1{
			padding: 24px 0 24px 0;
		}

		.blog_item{
			display: flex;
			flex-flow: column nowrap;
		}

		.blog_item_img{
			width: 288px;
			height: 164px;
		}
	
		.blog_item_text_wrapper{
			padding: 8px 0 0 0;	
		}

		.blog_item_title{
			font-size: 18px;
			line-height: 27px;
		}	

		[data-pagination-wrapper]{
	
			li span,
			li a{
				margin: 6px 0 0 0;
			}
		}	
	}
}