<div data-page-type="about">
	<div class="content_block" data-listing-text-top="">

		<div class="title">
			<h1>{{ seo.h1 | raw}}</h1>
		</div>

		<div class="seo_text _nowrap" data-seo-text="">
			{{ seo.text_1 | raw}}
		</div>

	</div>
</div>